*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: kaushan;
    src: url("./KaushanScript-Regular.ttf");
}
.content{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("./top-view-fish-chips-with-assortment-sauces.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}
.content nav{
    width: 80%;
    height: 90px;
    margin: 0 auto;
    padding: 25px;
    padding-top: 50px;
    background-color: rgba(133, 133, 133, 0.34);
}
.content nav ul li{
    padding: 10px;
}
.content nav ul li a{
    text-transform: uppercase;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
    padding: 10px;
}

/*banner section*/
.banner{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: center;
    color: white;
}
.banner h1{
    font-size: 100px;
    font-family: 'kaushan';
    margin-bottom: 15px;
}
.banner p{
    font-family: Poppins;
    font-size: 15px;
    margin-bottom: 30px;
}
.banner .bto button{
    width: 150px;
    height: 50px;
    margin-left: 10px;
    text-transform: uppercase;
    font-family: Poppins;
    /*border: none;*/
}
.bto1{
    background-color: orangered;
    color: white;
    font-weight: 500;
    border: none;
}
.bto2{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-weight: 500;
    transition: all .5s ease-in-out;
}
.bto2:hover{
    background-color: orangered;
    border: none;
}

/*about section*/
.about{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}
.about .image img{
    width: 400px;
}
.about .text h4{
    font-family: 'kaushan';
    font-weight: bold;
    color: crimson;
    margin-bottom: 20px;
}
.about .text h1{
    font-size: 45px;
    margin-bottom: 20px;
}
.about .text p{
    width: 550px;
    font-family: Poppins;
    font-size: 15px;
    line-height: 29px;
    margin-bottom: 27px;
}
.about .text button{
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    font-family: Poppins;
    background-color: orangered;
    color: white;
    font-weight: 500;
    border: none;
    transition: all .5s ease-in-out;
}
.about .text button:hover{
    background-color: black;
}

/*special-food*/
.special-food{
    width: 100%;
    height: 35vh;
}
.special-text h4{
    font-family: 'kaushan';
    color: crimson;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}
.special-text h1{
    font-size: 45px;
    text-align: center;
}
.special-card{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
    cursor: pointer;
}
.sp-image{
    width: 350px;
    height: 350px;
    background-color: #f1f1f1;
    margin-bottom: 20px;
}
.sp-image img{
    width: 300px;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.sp-text{
    text-align: center;
    color: gray;
    font-family: 'kaushan';
}


/*addvertiesment*/


@media screen and (max-width: 600px) {
    .content nav{
        width: 100%;
        height: 80px;
        padding-top: 5px;
    }
    .content nav ul li{
        padding: 0px;
    }
    .banner h1{
        font-size: 50px;
    }
    .about{
        width: 100%;
        height: 100vh;
        margin-top: 80px;
    }
    .about .image img{
        width: 100%;
        height: 600px;
    }
    .about .text{
        width: 100%;
        text-align: center;
    }
    .about .text h4{
        margin-bottom: 5px;
    }
    .about .text h1{
        margin-bottom: 10px;
    }
    .about .text p {
        width: 100%;
        padding: 10px;
    }
    .special-food{
        margin-top: 300px !important;
    }


}

@media screen and (max-width: 768px) {
    .content nav{
        width: 100%;
        height: 100px;
        padding-top: 5px;
    }
    .content nav ul li{
        padding: 0px;
    }
    .banner h1{
        font-size: 50px;
    }
    .about{
        width: 100%;
        height: 100vh;
        margin-top: 80px;
    }
    .about .image img{
        width: 100%;
        height: 600px;
    }
    .about .text{
        width: 100%;
        text-align: center;
    }
    .about .text h4{
        margin-bottom: 5px;
    }
    .about .text h1{
        margin-bottom: 10px;
    }
    .about .text p {
        width: 100%;
        padding: 10px;
    }

}

@media screen and (max-width: 1024px) {
    .content nav{
        width: 100%;
        height: 100px;
        padding-top: 5px;
    }
    .content nav ul li{
        padding: 0px;
    }
    .banner h1{
        font-size: 50px;
    }
    .about{
        width: 100%;
        height: 100vh;
        margin-top: 80px;
    }
    .about .image img{
        width: 100%;
        height: 600px;
    }
    .about .text h4{
        margin-bottom: 5px;
    }
    .about .text h1{
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 1500px) {
    .content nav{
        width: 100%;
        height: 100px;
        padding-top: 5px;
    }
    .content nav ul li{
        padding: 0px;
    }
    .banner h1{
        font-size: 50px;
    }
    .about{
        width: 100%;
        height: 100vh;
        /* margin-top: 80px; */
    }
    .about .image img{
        width: 100%;
        height: 600px;
    }
    .about .text h4{
        margin-bottom: 5px;
    }
    .about .text h1{
        margin-bottom: 10px;
    }

}


